# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [63]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [64]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = "\t")

In [65]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [66]:
# Sacamos la informacion para ver si hemos separado las columnas
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 3. Name of the max valued product

In [67]:
# Pasamos el dato como objeto a dato como float
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [68]:
# Vamos si lo hemos hecho bien
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [69]:
# comprobamos que es un nÃºmero
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [70]:
# Calculamos el precio mÃ¡ximo
print (chipo['item_price'].max())

44.25

In [71]:
# Vemos a quÃ© pregistro corresponde el precio maximo
chipo['item_price'].idxmax()

3598

In [72]:
# Sacamos ese registro
chipo.iloc [3598]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

In [73]:
# Juntamos los mÃ©todos
chipo.iloc [chipo['item_price'].idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

In [74]:
# Otra forma
chipo.loc[chipo['item_price'].idxmax(), 'item_name']

'Chips and Fresh Tomato Salsa'

In [75]:
chipo[chipo['item_name'] == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

### Step 4. How many products cost more than $10.00?

In [76]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [77]:
product_mayor_10 = chipo[chipo['item_price'] > 10]
product_mayor_10.shape [0]

1130

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [78]:
pedidos_con_items_mayores_10 = product_mayor_10['order_id'].nunique()
print (pedidos_con_items_mayores_10)

863

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 10$? Es lo mismo?

In [79]:
# Agrupar por 'order_id' y sumar el precio total de cada pedido
totales_por_pedido = chipo.groupby('order_id')['item_price'].sum()

# Contar cuÃ¡ntos pedidos superan los $10
pedidos_mayores_10 = (totales_por_pedido > 10).sum()

print (pedidos_mayores_10)

1834

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [80]:
# Es lo mismo que la cuatro 4.1

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [ ]:
# Calcular el precio unitario
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']

In [89]:
# Mostrar solo item_name y unit_price
chipo[['item_name', 'unit_price']]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [102]:
chipo_ordenado = chipo.sort_values(by='item_name')
chipo_ordenado

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [99]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   unit_price          4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

In [98]:
# No sÃ© hace mÃ¡s que de una manera

max_precio = chipo.iloc[chipo['item_price'].idxmax()]
max_precio_cantidad = max_precio['quantity']
print (max_precio_cantidad)

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [96]:
cantidad_veggie_salad_bowl = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
cantidad_veggie_salad_bowl

18

### Step 9. How many times did someone order more than one Canned Soda?

In [101]:
# Filtrar los pedidos de "Canned Soda" donde la cantidad sea mayor a 1
canned_soda = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

# Contar cuÃ¡ntos pedidos fueron hechos con mÃ¡s de un "Canned Soda"
contar_canned_soda = canned_soda.shape[0]
contar_canned_soda

20